# See wiki/caddy.md

:{$CADDY_CONTAINER_PORT} {
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods GET, POST, PUT, DELETE, OPTIONS
        Access-Control-Allow-Headers Authorization, Content-Type
        Access-Control-Max-Age 86400
    }
    
    # Обработка preflight запросов
    @options {
        method OPTIONS
    }
    handle @options {
        respond 204
    }
    
handle /items* {
        reverse_proxy http://app:{$APP_CONTAINER_PORT}
    }
    handle /learners* {
        reverse_proxy http://app:{$APP_CONTAINER_PORT}
    }
    handle /interactions* {
        reverse_proxy http://app:{$APP_CONTAINER_PORT}
    }
    handle /pipeline* {
        reverse_proxy http://app:{$APP_CONTAINER_PORT}
    }
    handle /analytics* {
        reverse_proxy http://app:{$APP_CONTAINER_PORT}
    }
    handle /docs* {
        reverse_proxy http://app:{$APP_CONTAINER_PORT}
    }
    handle /openapi.json {
        reverse_proxy http://app:{$APP_CONTAINER_PORT}
    }
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
